# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Zips / Temporary
*.zip
*.tmp
~$*

# Local screenshots (if you don't want to upload everything at once)
# 02_BugReports/screenshots/*
# !02_BugReports/screenshots/.gitkeep
